aws_psycopg2==1.3.8
boto3==1.37.4
matplotlib==3.7.1
numpy==2.3.5
pandas==2.0.1
prophet==1.1.7
psycopg2==2.9.9
psycopg2_binary==2.9.6
scikit_learn==1.2.1
snowflake_connector_python==3.0.4
xgboost==3.1.2
